<h2 class="text-center"> ABOUT US: WHO IS BEHIND CORONAVIRUSAPI? </h2>

<hr>

<p>
  The <a href="http://coronavirusapi.com">http://coronavirusapi.com/</a> website is an initiative by <a href="https://www.linkedin.com/in/huuep/">Danny Yang</a> and <a href="https://www.linkedin.com/in/susangjoseph/">Susan Joseph</a>.
</p>

<p>
  Danny is the Chief Technology Officer and architect of the organization's free public website, web crawler, data harmonization, and brings a deep background of experience in big data projects, AI/machine learning, and blockchain. Danny also coordinates the efforts of an active team of volunteer developers, programmers, and engineers all in this fight together.
</p>

<p>
  CoronavirusAPI also receives support from <a href="https://www.linkedin.com/in/georgepullen/">George Pullen</a>, a subject matter expert in risk, modeling and forecasting, frequent guest lecturer, writer and speaker, adj professor at University of New Hampshire Law where he teaches on economics and social impact of technology, and Chief Economist of <a href="http://www.milkywayeconomy.com">Milky Way Economy</a>.
</p>

<p>
  Susan is the CEO and had the genesis for the idea to bring together transparent Government data to help save lives. She is an attorney and emerging technology consultant who works with enterprises and startups ranging from insurers and blockchain to financial institutions and supply chains. She, along with 4 co-founders,  created a not-for-profit start-up, Diversity in Blockchain where she also serves as the organization's Executive Director. Susan researches, coordinates, drafts content, and manages the public policy, legal, and all business aspects of the CoronavirusAPI.
</p>