<p id="notice"><%= notice %></p>

<h2 class="text-center"> FAQ </h2>

<h2 class="text-center"> <span class="underline">Automated Unbiased Public Health Tracking</span></h2>
<br>
<hr>
<br>
<h2> WHY TRACK COVID-19? </h2>

<p>Trusted and officially reported Government data is essential in a time of
  Pandemic and can be life-saving. Tracking, reporting and communicating
  data is not something most States, Territories and Counties are set up
  to do well. Making data more transparent, timely, and easily accessible
  is the role of CoronavirusAPI, a trusted aggregator who can also
  provide actionable insights to everyone from healthcare professionals
  to individuals to enterprise to government.</p>

<h2> HOW CAN WHAT WE KNOW HELP US? </h2>

<p>
  Covid-19 transmits easily from person to person, 24/7 across borders,
  and no one has natural immunity. The disease can variably survive on
  different surfaces (fomites). Some may be asymptomatic carriers while

  many others may suffer and/or die from this disease. Long term effects
  are unknown. Immunity after infection and recovery are unknown.
  Treatment using various combinations of medicine are underway but
  there is no standard curative protocol. There is no vaccine and one is
  not anticipated to be available to the general public for a least a year.
  The number of serious cases is currently on track to overwhelm our
  healthcare system.
</p>

<p>
  Other nations have found that aggressive testing, tracking, social
  distance practices and even quarantine have proven effective measures
  to contain the disease. The world is in the process of developing
  treatments, preventatives, and diverting healthcare resources to scale
  and create resiliency in their healthcare systems. Many of these nations
  have transparently reported their statistics and experience. We can
  learn from them and act similarly.
</p>

<p>
  States, Territories and Counties public health laws require certain
  disease statistics to be reported from health providers, hospitals and
  laboratories, but it is voluntary, though useful, to report these statistics
  to the CDC.
</p>

<h2>
  WHAT IS THE PURPOSE OF CORONAVIRUSAPI?
</h2>

<p> CoronavirusAPI was created to help States, Territories and Counties
  protect their populations and have access to and manage transparent,
  timely, officially reported data about COVID-19 . These entities need
  to prepare, allocate and deploy resources, manage supply chains, and

  enhance public awareness of the disease. These entities also need to be
  able to access the spread, mortality rates and create and enforce
  policies to save lives. The data and insights from this site can be used to
  help inform their policies such as self-isolation, quarantines, business
  continuity, travel and social distancing. It can help facilitate regional
  cooperation, actions, and even aid in the imposition of shelter-in-place
  rules.</p>

<h2> WHY IS CORONAVIRUSAPI A USEFUL RESOURCE FOR
  GOVERNMENT OFFICIALS, HEALTH PROFESSIONALS,
  BUSINESS AND INDIVIDUALS? </h2>

<p>
  We can provide a simple uniform interface the States, Territories, and
  Counties can use to achieve rapid, timely, accurate, transparent, and
  standard reporting to conduct analytics and gain insights.
</p>

<p>
  The website offers aggregated and transparent access to official records
  State by State all located in one place, in a common form, with data
  analytics and is updated in an (partially-some States are still changing
  formats as they scale to the crisis) automated process hourly.
</p>

<p>
  The source of data is the Official Public Health Pages of each State and
  the USA Territories. Work is currently underway to add data from the
  up to 3,124 different Counties websites.
</p>

<h2><span class="underline">WHAT DATA POINTS DO WE MOST NEED FROM
STATES, TERRITORIES AND COUNTIES?</span></h2>

<p>
  <ol>
    <li> How many people by age group, high risk and in aggregate have been
      tested for COVID-19 and what are the new cases per day? </li>
    <li> How many people by age group, high risk and in aggregate have
      COVID-19 or are pending results?</li>
    <li> How many who tested positive have recovered?</li>
    <li> What are the testing and reinfection statistics, immunity after infection
      statistics, and long-term effects?</li>
    <li> How many people by age group, high risk and in aggregate tested
      negative for COVID-19?</li>
    <li> Where are the Coronavirus clusters, regional or widespread cases that
      can show me how at risk I am?</li>
    <li> How fast is the virus spreading?</li>
    <li> How high is the mortality rate for COVID-19 by age group, high risk
      and in aggregate?</li>
  </ol>
</p>